/* ------------------- 전체 영역 */
* {
  box-sizing: border-box;
}

body {
  background-color: #fff2f2;
  margin: 0 auto;
}

a {
  all: unset;
  cursor: pointer;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  all: unset;
}

.invisible-content {
  display: none;
}

.inner {
  margin: 0 1.5rem;
  padding: 3rem 0;
}

.outer {
  height: 100vh;
  position: relative;
}

.outer-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.outer-title .big-title {
  font-weight: 300;
  font-size: 3.5rem;
  letter-spacing: 0.3rem;
}

.outer-title .big-subtitle {
  font-weight: 200;
  font-size: 1.1rem;
  letter-spacing: 0.7rem;
}

.button-container {
  margin: 3rem 0;
  text-align: center;
}

.center-button {
  width: 13rem;
  height: 3.5rem;
  line-height: 3.5rem;
  font-size: 1.2rem;
  font-weight: 300;
  display: inline-block;
  color: #fff;
}

.box-round {
  border-radius: 0.5rem;
}


/* ------------------- 헤더 & 큰이미지 */
header .outer {
  background: url(../img/wedding_couple.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

header .outer-title h2 {
  font-weight: 500;
  letter-spacing: 0.4rem;
}

main .outer {
  background: url(../img/flowers.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}


/* ------------------- 메뉴 */
nav.under-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1000;
}

nav.under-menu:hover {
  background-color: rgba(255, 255, 255, 1);
}

nav .menu-container {
  height: 3rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

nav .menu-container li {
  width: 25%;
}

nav .menu-container a {
  width: 100%;
  padding: 0.5rem 0;
  display: block;
  text-align: center;
}

nav .menu-container a:hover {
  background-color: #ccc;
}

nav .menu-container .menu-rsvp:hover {
  background-color: #000;
  color: #fff;
}


/* ------------------- 메인 */
section .section-item-container {
  max-width: 980px;
  margin: 0 auto;
}

.section-title {
  color: #333;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  text-align: center;
}

.section-image {
  max-width: 100%;
  text-align: center;
}

.section-image img {
  max-width: 100%;
  width: 100%;
  object-fit: contain;
}


/* 제인&존 결혼 */
#jane-john article .text {
  font-size: 0.8rem;
  font-style: italic;
  line-height: 1.5rem;
}

#jane-john .center-button {
  background: #333;
}


/* 인포메이션 */
#wedding .wedding-section-container {
  display: flex;
}

#wedding .sub-section {
  width: 50%;
  text-align: center;
}

#wedding .sub-section h3 {
  font-weight: normal;
  letter-spacing: 0.2rem;
  margin-top: 3rem;
}

#wedding .sub-section p {
  font-size: 0.9rem;
}


/* rsvp */
#rsvp {
  background-color: rgb(252, 228, 228);
  text-align: center;
}

#rsvp p.section-title ~ p {
  letter-spacing: 0.3rem;
}

#rsvp .center-button {
  background: rgb(223, 133, 133);
}


/* ------------------- 푸터 */
footer {
  background-color: #000;
  padding: 1rem 0 4rem 0;
  color: #fff;
  text-align: center;
}


/* ------------------- 미디어쿼리 */
@media only screen and (max-width: 600px) {
  nav.under-menu {
    display: none;
  }
}